name: CI


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python install
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: dependencies install
        run: | 
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: run tests
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: | 
          pytest

  docker-build:
      runs-on: ubuntu-latest
      needs: tests

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Docker build
          run: | 
            docker build -t text-analyzer .
